#bgl{
    background-image: url('bgl.jpg');
    display: flex;
    height: 93.3vh;
    width: auto;
    background-size: 100% 100%;
  }
#avatar{
    position: relative;
    background: transparent;
    width: 120px;
    left: 135px;
    top: 50px;
}
#container{
    position: fixed;
    background-color: rgba(255, 255, 255, 0.286);
    backdrop-filter: blur(0.3rem);
    padding: 50px;
    height: 80%;
    width: 80%;
    border-radius: 30px;
    left: 10%;
    top: 10%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
#nameCard{
    display: blocks;
    width: 400px;
    height: 600px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 30px;
}
#status{
    display: flex;
    background-color: transparent;
    width: fit-content;
    height: auto;
    padding: 2.5px;
    flex-direction: row;
    position: fixed;
    top: 50px;
    left: 40%;
}
h3{
    background: none;
}
.box{
    display: block;
    width: 180px;
    height: 180px;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
}
.h3{

    font-size: 50px;
}
#completed{
    color: #00cc00;
}
#cancelled{
    color: rgb(255, 68, 0);
}
#all{
    color: rgba(0,0,0);
}
#details{
    margin-top: 100px;
}
h5{
    font-family: 'Courier New', Courier, monospace;
    border-color: black;
    margin-bottom: 40px;
    border: 2px solid #333; /* 2px border width, solid line style, #333 color */
    padding: 10px; 
    border-radius: 10px;
    border-color: rgb(177, 177, 177);
}
#name{
    position: relative;
    top: 75px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#log{
    display: block;
    width: 700px;
    height: 390px;
    border-radius: 30px;
    padding: 20px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    top: 280px;
    left: 625px;
}
#bookingS{
    font-family: lemon;
}
table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    padding: 10px;
  }
.cancelled{
    display: inline-block;
    color: red;
    background-color: rgba(255, 0, 0, 0.161);
    padding: 3px;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
}
.completed{
    display: inline-block;
    color: green;
    background-color: rgba(0, 128, 0, 0.152);
    margin-top: 10px;
    padding: 2.5px;
    border-radius: 10px;
    margin-bottom: 5px;
}
th{
    font-family: lemon;
}
td{
    font-family: 'Courier New', Courier, monospace;
}